@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],input[type="password"],
input[type="email"],input[type="number"],
input[type="tel"],
textarea{
    @apply w-full border my-1 py-2 px-3 rounded-2xl;
}
textarea{
    height: 140px;
}
button{
    @apply bg-gray-300;
}
button.primary{
    background-color: #F5385D;
    @apply bg-primary p-2 w-full text-white rounded-2xl;
}
body{
    background-image: url(imp.jpg);
    
    

    
    

}
footer {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 20px;
    border-top: 1px solid #ccc;
  }
  
  .footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .footer-logo svg {
    height: 40px;
    width: 40px;
  }
  
  .footer-links {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .footer-links a {
    color: #333;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    color: #666;
  }
  